/* ==========================================================================
   Soft theme skin
   ========================================================================== */

/* Colors */
$base-color: mix(#625772, #a9eee6, 75%) !default;
$text-color: #625772 !default;
$accent-color: #e85482 !default;
$background-color: #fefaec !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
$serif: DFKai-SB,Kai,Kaiti SC,KaiTi,BiauKai,\\6977\4F53,\\6977\4F53_GB2312,Songti SC,Georgia, Times, serif !default;
$sans-serif: "Helvetica Neue",YouYuan,\\5E7C\5706,幼圆,"Segoe UI",-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI","Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
/* Syntax highlighting (base16) colors */
$base00: #efecf4 !default;
$base01: #e2dfe7 !default;
$base02: #8b8792 !default;
$base03: #7e7887 !default;
$base04: #655f6d !default;
$base05: #585260 !default;
$base06: #26232a !default;
$base07: #19171c !default;
$base08: #be4678 !default;
$base09: #aa573c !default;
$base0a: #a06e3b !default;
$base0b: #2a9292 !default;
$base0c: #398bc6 !default;
$base0d: #576ddb !default;
$base0e: #955ae7 !default;
$base0f: #bf40bf !default;
